In [18]:
import pandas as pd
import numpy as np

In [19]:
#question 1
pd.__version__

'2.2.2'

In [20]:
data = pd.read_csv('./laptops.csv')

In [21]:
#question 2
data.shape[0]

2160

In [22]:
#question 3
len(data["Brand"].unique())

27

In [23]:
#question 4
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [24]:
#question 5
data[data["Brand"] == "Dell"]["Final Price"].max()

np.float64(3936.0)

In [25]:
# screen median
data["Screen"].median()

np.float64(15.6)

In [26]:
# most frequent value ofScreen
data["Screen"].value_counts().head(1)

Screen
15.6    1009
Name: count, dtype: int64

In [27]:
# fill missing values with most frequent value
data["Screen"] = data["Screen"].fillna(15.6)

In [28]:
# question 6
data["Screen"].median()

np.float64(15.6)

In [29]:
innjoo = data[data["Brand"] == "Innjoo"]
innjoo = innjoo[["RAM","Storage","Screen"]]
innjoo.head(5)

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [30]:
X = innjoo.to_numpy()

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [31]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]
    
    n = u.shape[0]
    
    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]
    
    return result
def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]
    
    num_rows = U.shape[0]
    
    result = np.zeros(num_rows)
    
    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)
    
    return result
def matrix_matrix_multiplication(U, V):
    assert U.shape[1] == V.shape[0]
    
    num_rows = U.shape[0]
    num_cols = V.shape[1]
    
    result = np.zeros((num_rows, num_cols))
    
    for i in range(num_cols):
        vi = V[:, i]
        Uvi = matrix_vector_multiplication(U, vi)
        result[:, i] = Uvi
    
    return result

In [32]:
XTX = matrix_matrix_multiplication(X.T,X)

In [33]:
XTX_inv = np.linalg.inv(XTX)

In [34]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [35]:
w = matrix_matrix_multiplication(XTX_inv,X.T)
w = matrix_vector_multiplication(w, y)

In [36]:
np.sum(w)

np.float64(91.29988062995524)